<div class="uk-section" id= "UserHeader">
            <div class="uk-container">
                    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                            <div></div> <!-- empty column -->
                            <div>
                             <img src="assets/images/TriPoints Logo.png" alt="TriPointsLogo" id="Logo2" >
                            </div>
                            <div></div> <!-- empty column -->
                    </div>
            </div>
    </div>
     {{compare.handlebars}}