
  <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TriPoints-The True Cost Of Your Car</title>

    {{!-- Jquery Link --}}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    {{!-- UI Kit JS --}}
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit-icons.min.js"></script>

    {{!-- UI Kit CSS --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/css/uikit.min.css" />

<<<<<<< HEAD
{{!-- CSS Link --}}
       <link href="/public/assets/css/style.css" type="text/css" rel="stylesheet">
{{!-- Google Font Tag  --}}
       <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
 

 {{Index.handlebars}}

=======
    {{!-- CSS Link --}}
    <link href="/public/assets/css/style.css" type="text/css" rel="stylesheet">
    {{!-- Google Font Tag  --}}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

</head>

<body>
    {{{ body }}}
    <!--Footer begin-->
    <footer class="footer" id="footer">


    </footer>
    <!--Footer End-->
    <script src="/public/assets/js/car.js"></script>
</body>

</html>
>>>>>>> master
