<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TriPoints-The True Cost Of Your Car</title>

    {{!-- Jquery Link --}}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    {{!-- UI Kit JS --}}
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit-icons.min.js"></script>

    {{!-- UI Kit CSS --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/css/uikit.min.css" />

    {{!-- CSS Link --}}
    <link href="assets/css/style.css" type="text/css" rel="stylesheet">
    {{!-- Google Font Tag  --}}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Font Awesome -->
    <script src="https://kit.fontawesome.com/e1be1aa429.js" crossorigin="anonymous"></script>


   <!-- {{Index.handlebars}} -->

</head>

<body>
    {{{ body }}}
    <!--Footer begin-->
    <footer class="footer">
        <br>
        <div class="row">
            <div class="col-sm-5 footer1">
                <br>
                <p>Thanks for visiting Tripoints! To test-drive the vehicle of your dreams, please call your local
                    Mercedes-Benz dealership.</p>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>

                            <li>
                                <div class="uk-inline">
                                    <p>Littleton</p>
                                    <div uk-drop="pos: right-center">
                                        <div class="uk-card uk-card-body uk-card-default">
                                            <ul>
                                                <li><span class="uk-margin-small-right" uk-icon="phone"></span>
                                                    303-738-7700</li>
                                                <hr>
                                                <li><span class="uk-margin-small-right" uk-icon="location"></span><a
                                                        href="https://www.google.com/maps/place/Mercedes-Benz+of+Littleton/@39.5695091,-104.9901577,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x876c7e7f48d6eb4b:0xeed0666a2b991c96!2sMercedes-Benz+of+Denver!8m2!3d39.6996668!4d-104.9401848!3m4!1s0x876c822cf9d69999:0x75a4dbfff1c71dd0!8m2!3d39.569505!4d-104.987969"
                                                        target="_blank">8070 S Broadway Littleton, CO 80122</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-inline">
                                    <p>Denver</p>
                                    <div uk-drop="pos: right-center">
                                        <div class="uk-card uk-card-body uk-card-default">
                                            <ul>
                                                <li><span class="uk-margin-small-right" uk-icon="phone"></span>
                                                    303-953-4581</li>
                                                <hr>
                                                <li><span class="uk-margin-small-right" uk-icon="location"></span><a
                                                        href="https://www.google.com/maps/place/Mercedes-Benz+of+Denver/@39.6996668,-104.9423735,17z/data=!3m1!4b1!4m5!3m4!1s0x876c7e7f48d6eb4b:0xeed0666a2b991c96!8m2!3d39.6996668!4d-104.9401848"
                                                        target="_blank">940 S Colorado Blvd, Denver, CO 80246</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-inline">
                                    <p>Westminster</p>
                                    <div uk-drop="pos: right-center">
                                        <div class="uk-card uk-card-body uk-card-default">
                                            <ul>
                                                <li><span class="uk-margin-small-right" uk-icon="phone"></span>
                                                    720-263-4661</li>
                                                <hr>
                                                <li><span class="uk-margin-small-right" uk-icon="location"></span><a
                                                        href="https://www.google.com/maps/place/Mercedes-Benz+of+Westminster/@39.8861749,-105.0712359,17z/data=!3m1!4b1!4m5!3m4!1s0x876b8987b5b4af67:0x6f4e8e52c010435a!8m2!3d39.8861708!4d-105.0690472"
                                                        target="_blank">10391 Westminster Blvd, Westminster, CO
                                                        80020</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-inline">
                                    <p>Colorado Springs</p>
                                    <div uk-drop="pos: right-center">
                                        <div class="uk-card uk-card-body uk-card-default">
                                            <ul>
                                                <li><span class="uk-margin-small-right" uk-icon="phone"></span>
                                                    719-639-2268</li>
                                                <hr>
                                                <li><span class="uk-margin-small-right" uk-icon="location"></span><a
                                                        href="https://www.google.com/maps/place/Mercedes-Benz+of+Colorado+Springs/@38.8166714,-104.8429991,17z/data=!3m1!4b1!4m5!3m4!1s0x871344d3e5c3b0bd:0x13951962d936d14d!8m2!3d38.8166672!4d-104.8408104"
                                                        target="_blank">730 Automotive Dr, CO Springs, CO 80905</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-inline">
                                    <p>Loveland</p>
                                    <div uk-drop="pos: right-center">
                                        <div class="uk-card uk-card-body uk-card-default">
                                            <ul>
                                                <li><span class="uk-margin-small-right" uk-icon="phone"></span>
                                                    970-344-4206</li>
                                                <hr>
                                                <li><span class="uk-margin-small-right" uk-icon="location"></span><a
                                                        href="https://www.google.com/maps/place/Mercedes-Benz+of+Loveland/@40.4339176,-104.9965158,17z/data=!3m1!4b1!4m5!3m4!1s0x876ead0dd5517111:0x3309c475666f6ef7!8m2!3d40.4339135!4d-104.9943271"
                                                        target="_blank">4040 Byrd Dr, Loveland, CO 80538</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <p id="disc">***Actual pricing may vary.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                            uk-slider="autoplay: true; autoplay-interval:2500;">

                            <ul
                                class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid">
                                <li>
                                    <img src="/assets/images/aclass3.jpg" alt="a class">
                                </li>
                                <li>
                                    <img src="/assets/images/cclass3.jpg" alt="c class">
                                </li>
                                <li>
                                    <img src="/assets/images/eclass1.jpg" alt="e class">
                                </li>
                                <li>
                                    <img src="/assets/images/sclass2.jpg" alt="s class">
                                </li>
                                <li>
                                    <img src="/assets/images/gle2.jpg" alt="gle">
                                </li>
                                <li>
                                    <img src="/assets/images/gls3.jpg" alt="gls">
                                </li>
                                <li>
                                    <img src="/assets/images/glc3.jpg" alt="glc">
                                </li>
                                <li>
                                    <img src="/assets/images/gla3.jpg" alt="gla">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"> <br> </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 id="mb">- The Mercedes-Benz Lineup -</h2>
                        <br>
                        <br>
                        <br>
                        <div id="links">
                            <h4 id="follow">Connect With Mercedes-Benz:</h4>

                            <a href="https://www.facebook.com/MercedesBenz/" target="_blank"
                                uk-icon="icon: facebook; ratio:3"></a>
                            <a href="https://twitter.com/MercedesBenz?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                                target="_blank" uk-icon="icon: twitter; ratio:3"></a>
                            <a href="https://www.instagram.com/mercedesbenz/?hl=en" target="_blank"
                                uk-icon="icon: instagram; ratio:3"></a>
                            <a href="https://www.facebook.com/MercedesBenz/" target="_blank"
                                uk-icon="icon: facebook; ratio:2"></a>
                            <a href="https://twitter.com/MercedesBenz?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                                target="_blank" uk-icon="icon: twitter; ratio:2"></a>
                            <a href="https://www.instagram.com/mercedesbenz/?hl=en" target="_blank"
                                uk-icon="icon: instagram; ratio:2"></a>
                            <a href="https://www.youtube.com/channel/UClj0L8WZrVydk5xKOscI6-A" target="_blank"
                                uk-icon="icon: youtube; ratio:2"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </footer>

    <!--Footer End-->
    <script src="/assets/js/control.js"></script>
    <script src="/assets/js/car.js"></script>
</body>

</html>