<div class="uk-section" id= "UserHeader">
                <div class="uk-container">
                    <div class="uk-card">
                            <div class="uk-card-header">
                                    <div class="uk-child-width-1-2 uk-text-center" uk-grid>
                                       <div><h1>Choose a Model</h1> </div> 
                                       <div>
                                            <form>
                                                    <select class="uk-select" id="compareModelsSelect" width="60%">Vehicle Model
                                                            <option value="S-Class">S-Class</option>
                                                            <option value="C-Class">C-Class</option>
                                                        </select>  
                                                    </form>
                                       </div>           
                                    </div>
                            </div>
                            <div class="uk-card-body">
                                    <div class="uk-child-width-1-2 uk-text-center" uk-grid>
                                            <div class="uk-card-media-left uk-cover-container">
                                                    <img src="assets/images/eclass1.jpg" alt="Test image" uk-cover>
                                                    <canvas width="" height=""></canvas>
                                                </div>
                                                    <div class="uk-card-body">
                                                            <div uk-grid>
                                                                    <div><i class="fas fa-car"></i>  </div>
                                                                    <div><p>MSRP</p></div>
                                                                    <div><p class=msrp>40,000</p></div>
                                                            </div>
                                                            <div uk-grid>
                                                                    <div><i class="fas fa-wrench"></i> </div>
                                                                    <div><p>Total Cost of Service </p></div>
                                                                    <div><p class=costService>40,000</p></div>
                                                            </div>
                                                            <div uk-grid>
                                                                    <div><i></i> </div>
                                                                    <div><p>10K</p></div>
                                                                    <div><p class=10kservices>Lorem Ipsum </p></div>
                                                            </div>
                                                            <div uk-grid>
                                                                    <div><i></i> </div>
                                                                    <div><p>20K</p></div>
                                                                    <div><p class=20kservices>Lorem Ipsum </p></div>
                                                            </div>
                                                            <div uk-grid>
                                                                    <div><i></i> </div>
                                                                    <div><p>30K</p></div>
                                                                    <div><p class=30kservices>Lorem Ipsum </p></div>
                                                            </div>
                                                            <div uk-grid>
                                                                    <div><i></i> </div>
                                                                    <div><p>40K</p></div>
                                                                    <div><p class=40kservices>Lorem Ipsum </p></div>
                                                            </div>
                                                            <div uk-grid>
                                                                    <div><i></i> </div>
                                                                    <div><p>50K</p></div>
                                                                    <div><p class=50kservices>Lorem Ipsum </p></div>
                                                            </div>
                                                            <div uk-grid>
                                                                    <div><i></i> </div>
                                                                    <div><p>60K</p></div>
                                                                    <div><p class=60kservices>Lorem Ipsum </p></div>
                                                            </div>
                                                    </div>
                                                   
                                                
                                                </div>
                                    </div>

                            </div>
                        </div>
                </div>
     </div>