<div class="uk-section" id="header">
    <div class="uk-container">
        <a href='/' class="login">Home</a>
    </div>
</div>
<div class="uk-section" id="UserHeader">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div></div> <!-- empty column -->
            <div>
                <img src="assets/images/TriPoints Logo.png" alt="TriPointsLogo" id="Logo2">
            </div>
            <div></div> <!-- empty column -->
        </div>
    </div>
</div>

<div class="uk-container">
    <div class="uk-section">
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <h4>Choose a Model</h4>
                            </div>
                            <div class="uk-width-expand">
                                <form>
                                    <select id="model-area" class="uk-select" id="compareModelsSelect"
                                        width="60%">Vehicle Model
                                        <option value="" disabled selected>Please select Model</option>

                                    </select>
                                    {{!-- <select class="uk-select" id="compareModelsSelect" width="60%">Vehicle Model
                                                        <option value="S-Class">S-Class</option>
                                                        <option value="C-Class">C-Class</option>
                                                    </select>   --}}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div uk-grid>
                            <div class="k-width-auto@m">
                                <i class="fas fa-car"></i>
                                <p id="msrp1">Replace with MSRP</p>
                            </div>
                            <div class="k-width-auto@m">
                                <i class="fas fa-wrench" width="50px"></i>
                                <p id="service1">Replace with service costs</p>
                            </div>
                            <div class="k-width-auto@m">
                                <i class="fas fa-gas-pump"></i>
                                <p id="fuel1">0,000</p>
                            </div>
                        </div>

                    </div>
                    <div class="uk-card-footer">
                        <img id="comparephoto1" src="assets/images/WhiteMercedesExample.jpg"></img>
                        <!--insert-->
                        <hr>
                        <h5>Service Intervals</h5>
                        <ul>
                            <li id="tenk1"></li>
                            <li id="twenk1"></li>
                            <li id="thirk1"></li>
                            <li id="fork1"></li>
                            <li id="fifk1"></li>
                            <li id="sixk1"></li>
                        </ul>

                        <!--insert-->

                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default ">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <h4>Choose a Model</h4>
                            </div>
                            <div class="uk-width-expand">
                                <form>
                                    <select id="model-area2" class="uk-select" id="compareModelsSelect"
                                        width="60%">Vehicle Model
                                        <option value="" disabled selected>Please select Model</option>

                                    </select>
                                    {{!-- <select class="uk-select" id="compareModelsSelect" width="60%">Vehicle Model
                                                        <option value="S-Class">S-Class</option>
                                                        <option value="C-Class">C-Class</option>
                                                    </select>   --}}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div uk-grid>
                            <div class="k-width-auto@m">
                                <i class="fas fa-car"></i>
                                <p id="msrp2">Replace with MSRP</p>
                            </div>
                            <div class="k-width-auto@m">
                                <i class="fas fa-wrench" width="50px"></i>
                                <p id="service2">Replace with service costs</p>
                            </div>
                            <div class="k-width-auto@m">
                                <i class="fas fa-gas-pump"></i>
                                <p id="fuel2">0,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <img id="comparephoto2" src="assets/images/WhiteMercedesExample.jpg"></img>
                        <hr>
                        <h5>Service Intervals</h5>
                        <ul>
                            <li id="tenk2"></li>
                            <li id="twenk2"></li>
                            <li id="thirk2"></li>
                            <li id="fork2"></li>
                            <li id="fifk2"></li>
                            <li id="sixk2"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-overflow-auto uk-margin-medium">
        <div class="uk-card-header">
            <h1 class="text-center"> Compare your Models </h1>
        </div>
        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th align="left">Model</th>
                    <th align="left">MSRP</th>
                    <th align="left">Service costs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="left"><code>A220</code></td>
                    <td align="left">$ 30 000</td>
                    <td align="left">$ 450</td>
                </tr>
                <tr>
                    <td align="left"><code>S450</code></td>
                    <td align="left">$ 60 000</td>
                    <td align="left">$ 750</td>
                </tr>

            </tbody>

        </table>
    </div>