<div class="uk-section" id="header">
                <div class="uk-container">
                        <button type="button" class="uk-button uk-button-default uk-button-small login" >Log-in</button>
                </div>
            </div>
           
        <div class="uk-section">
                <div class="uk-container"></div>
                <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                    <div></div> <!-- empty column -->
                    <div>
                     <img src="../DesignAssets/1x/TriPoints Logo.png" alt="TriPointsLogo" id="Logo1" width=>
                     <button class="uk-button uk-button-secondary">Find Out</button>
                    </div>
                    <div></div> <!-- empty column -->
                </div>
            </div>
            <div class="uk-section">
                    <div class="uk-container">
                    <div class="uk-grid-match uk-child-width-1-4@m" uk-grid>
                        <div>
                            <img src="../DesignAssets/1x/HoodUp_1x1.png" alt="TriPointsLogo" id="Logo1">
                        </div>
                        <div>
                         <img src="../DesignAssets/1x/Headlights_1x1.png" alt="TriPointsLogo" id="Logo1">
                        </div>
                        <div>
                            <img src="../DesignAssets/1x/Keys_1x1.png" alt="TriPointsLogo" id="Logo1">
                        </div> 
                        <div>
                            <img src="../DesignAssets/1x/DoorHandle_1x1.png" alt="TriPointsLogo" id="Logo1">
                        </div> 
                    </div>
                </div>
                </div>

                {{Form.Handlebars}}
                {{Modals.Handlebars}}
        
    <footer class="footer" id="footer">
            <div class="uk-section">
                    <div class="uk-container">
                        <div uk-grid>
                            <p>Dictum non consectetur a erat nam.</p> 
                            <p>Et odio pellentesque diam volutpat commodo.</p>
                        </div>
                    </div>
            </div>
    </footer>