<<<<<<< HEAD
<div class="uk-section" id="vehicleInfo">
        <div class="uk-container">
                <div class="uk-card uk-card-default uk-card-body">
                        <form class="login">
                                <Img src="/public/assets/images/TriPoints Logo.png" width="35%" id="logInLogo"></Img>
                                <input class="uk-textarea" placeholder="Username" id="uloginInput"></input>
                                <input class="uk-textarea" placeholder="Password" id="ploginInput"></input>
=======
        <div class="uk-section" id= "vehicleInfo">
                <div class="uk-container">
                        <div class="uk-card uk-card-default uk-card-body">
                                <Img src="assets/images/TriPoints Logo.png" width="35%" id="logInLogo"></Img>
                                <input class="uk-textarea" placeholder="Username" id="loginInput"></input>
                                <input class="uk-textarea" placeholder="Password"id="loginInput"></input>
                                <a href= '/newUser' class="newUser" >Log-in</a>
>>>>>>> 3b3f751e7d31e9b121e2b295d220c8ee3d755d91
                                <button class="uk-button uk-button-secondary" id="submitButton">submit</button>
                        </form>
                </div>
        </div>
</div>