              <div class="uk-section" id= "vehicleInfo">
                        <div class="uk-container">
                                <div class="uk-card uk-card-default uk-card-body">
                                    <div uk-grid>
                                        <h1>The Total Cost of your Vehicle</h1>
                                        <h2 class= "totalDollarValue">$000,000</h2>
                                    </div>
                                    <div class="uk-child-width-expand@s" uk-grid>
                                            <div class="uk-grid-item-match">
                                                <div class="uk-card uk-card-default uk-card-body">
                                                    <img src="../DesignAssets/1x/WhiteMercedesExample.jpg" alt="ExampleVehicle">
                                                </div>
                                            </div>
                                            <div>
                                                    <div uk-grid>
                                                            <img src="../public/assets/images/Car Icon.png" id="icon" alt="car Icon">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            </p>
                                                        </div>
                                                        <div uk-grid>
                                                            <img src="../public/assets/images/Gas Icon.png" alt="Gas" id="icon"  >
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            </p>
                                                        </div>
                                                        <div uk-grid>                
                                                            <img src="../public/assets/images/Wrench Icon.png" alt="Wrench" id="icon" >
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            </p>
                                                        </div>
    
                                                </div>
                                           
                                        </div>
                                </div>
                        
                        <!-- this is where the modal of the car will go -->
                    </div>
    </div>