<div class="uk-section" id="vehicleInfo">
        <div class="uk-container">
                <div class="uk-card uk-card-default uk-card-body">
                        <Img src="assets/images/TriPoints Logo.png" width="35%" id="logInLogo"></Img>
                        <input type='email' class="uk-textarea" placeholder="Email" id='email'></input>
                        <input type='password' class="uk-textarea" placeholder="Password" id="password"></input>
                        <button class="uk-button uk-button-secondary" id="submitButton">submit</button>
                </div>
        </div>
</div>
<script src="/assets/js/signup.js"></script>